<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mail Classification</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" href='{% static "bootstrap.css" %}' />
    <div class="container" style="text-align: center; margin-top: 10px">
      <form action="/predict" method="post">
        {% csrf_token %}
        <div class="card">
          <div class="card-header">
            <h2>Enter Email</h2>
          </div>

          <div class="card-body">
            <textarea name="email" id="email" cols="100" rows="10"></textarea>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-success">Submit Mail</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
